
h1 {
    text-align: center;
    color: white !important;
    font-family: Comic !important;
}


h2 {
    border-style: groove;
    border-color: white;
    border-width: 15px;
    text-align: center;
    color: white !important;
    font-family: Comic !important;
    
}

h3 {
    border-style: groove;
    border-color: white;
    border-width: 15px;
    text-align: center;
    color: White !important;
    font-family: Comic !important;
}


.container{
    color: White !important;
    font-family: Comic !important;
    
}

p { 
    font-size: 20px;
}

p2 {
    
    font-size: 20px;
}

p3 {
    
    font-size: 20px;
}

p4{
    font-size:20px;

}

p5 {
    font-size:20px;
}

p6 {
    font-size:20px;
}

p7 {
    font-size:20px;
}

p8 {
    font-size: 20px;
}

p9 {
    font-size: 20px;
}

span {
    
    font-size:25px;
    
}

p12 {
    font-size: 20px;
    
}

p13 {
    font-size: 20px;
    
}

p14 {
    font-size: 20px;
    
}

p15 {
    font-size: 20px;
}

p16 {
    font-size: 20px;
    
}


p17 {
    font-size: 20px;
    
}

p18 {
    font-size: 20px;
    
}

p19 {
    font-size: 20px;
    
}

p20 {
    font-size: 20px;
    
}

p21 {
    font-size: 20px;
    
}

p22 {
    font-size: 20px;
    
}

p23 {
    font-size: 20px;
    
}

p24 {
    font-size: 20px;
    
}

p25 {
    font-size: 20px;
    
}

p26 {
    font-size: 20px;
    
}

p27 {
    font-size: 20px;
    
}

p28 {
    font-size: 20px;
    
}

p29 {
    font-size: 20px;
    
}


.specials {
     margin: 150px 100px 600px;
}

body{
    background-color: #002031 !important; 
}

/* This is for the navbar */
#Logo{
    width:200px;
    float: left;
    position: relative;
    bottom: 30px;
    left:-20px;
    

}

.page-header{
    width:450px;
    float: left;
    margin-top: 0px;
    margin-bottom: 0px;
    border-bottom:0px;
    padding-bottom: 0px;
    
    
}

.navbar{
    background-color: black !important;
}

.navbar-collapse{
    padding-top: 50px;

}

a{
    font-family: Comic !important;
    font-size:15px;
    color: white !important;
}