
h1 {
    color: red;
    text-align: center;
    font-family: cursive, sans-serif;
}




#Logo{
    width:85px;
    float: left;
    position: relative;
    bottom: 30px;
    left:-20px;
    
}


.page-header{
    width:450px;
    float: left;
    margin-top: 0px;
    margin-bottom: 0px;
    border-bottom:0px;
    padding-bottom: 0px;
    
    
}
.container{
    display: inline;
    
}

p{
    font-size: 18px;
    font-family: Courier;
    font-weight: bold;
    margin-bottom: 0;
}


h2{
    font-size: 42px !important;
    position: absolute;
    left: 20px;
    top: 155px;
    z-index: 1;
    color: black !important;
}

h3{
    margin:0px !important;
    width: 250px;
    position: absolute;
    left:20px;
    top: 155px !important;
    z-index: 1;
    color: black !important;
}

.navbar-inverse{
    height: 95px;
}

.navbar-collapse{
    padding-top: 20px;
}

.navbar-brand{
    margin-top: 20px;
    
}



.btnbtn-primary {
       padding-left: 50px;
    
} 
