*{
    font-size: 18px;
    font-family: Comic;
    color: White;
    
}
body{
    background-color: #002031 !important;
    background-size: 1500px, 900px;
    display: inline-block;
    position: relative;
    left: 40%;
    
}

#Logo{
    width:300px;
    
}

.username{
    width: 300px;
    
}

.pwd{
    width:300px;
}

