body{
    background-color: #002031 !important;
     font-size: 18px;
    font-family: Comic;
    color: White;
}

#Logo{
    width: 600px;
}

.username{
    width: 300px;
}

.pwd{
    width:300px;
}

