body {
background-color:lightblue;
 background-image: url("https://lh3.googleusercontent.com/1Lc7tfwe5aKU3yJanE7CQDfYmn7PouaLZnjE3WxXUpdKxMJHyf83SogJXh1MeSnli0Y=w300-rw");
background-repeat: no-repeat;
}
