 body{
        background-color:#002031;
        
         }
         p{
        font-size: 100px;
        text-align: center;
        border: 20px solid ;
        margin-top: 15%
        }
 
 input{
  font-size: xx-large
  }